extends layout

block content
  h1= typeof title !== 'undefined' ? title : 'Complaint Page'
footer
  p
    | © 2025 Secure My Campus |
    a(href="#") Privacy Policy
    |  |
    a(href="#") Help Center
  