extends layout

block content
  h1.home-title-left Home Page
  nav.home-navbar
    ul.home-navbar-list
      li: a(href="/complaint") Complaint Page
      li: a(href="/form") Form Page
      li: a(href="/profile") Profile Page
      li: a(href="/signin") Sign In
  .home-bg-section
    .home-bg-overlay
      p.home-welcome Welcome to Secure My Campus!
      p.home-desc
        | Secure My Campus is a platform designed to help students, staff, and visitors easily submit complaints, access forms, manage profiles, and sign in securely. Our goal is to make your campus experience safer, more efficient, and more connected. If you have any issues or suggestions, please reach out to us!
  .home-contact
    h2 Contact Us
    p Phone: +91-9876543210
    p Email: support@securemycampus.com
footer
  p
    | © 2025 Secure My Campus |
    a(href="#") Privacy Policy
    |  |
    a(href="#") Help Center