doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon', type='image/png', href='/images/campus.png')
    // allow pages to add extra head tags (css/js)
    block head
  body
    block content
      
