extends layout

block head
  link(rel='stylesheet', href='/stylesheets/setpassword.css')

block content
  .content
    .login-card
      h2 Set Your Password
      if typeof error !== 'undefined' && error
        .error-message(style="color:#d32f2f;margin-bottom:16px;font-weight:bold;") #{error}
      form(action="/users/set-password", method="post")
        if typeof token !== 'undefined' && token
          input(type="hidden", name="token", value=token)
        if typeof email !== 'undefined' && email
          input(type="hidden", name="email", value=email)
        .input-group
          label(for="password") Password
          input(type="password", id="password", name="password", placeholder="Enter new password", required)
        .input-group
          label(for="confirm_password") Confirm Password
          input(type="password", id="confirm_password", name="confirm_password", placeholder="Confirm new password", required)
        button(type="submit", class="btn")
          span Set Password
      .links
        if typeof token !== 'undefined' && token
          a(href="/users/signin") Back to Sign In
        else
          a(href="/profile") Back to Profile

  footer
    p © 2025 Secure My Campus | 
      a(href="#") Privacy Policy
      |  | 
      a(href="/faqs") FAQs
