extends layout

block content
  h2 Sign In to Your Account
    form(method="POST", action="/signin")
        .form-group
        label(for="email") Email:
        input#email(type="email", name="email", required=true, placeholder="Enter your email")
        .form-group
        label(for="password") Password:
        input#password(type="password", name="password", required=true, placeholder="Enter your password")
        button(type="submit") Sign In
        .links
          a(href="/signup") Don't have an account? Sign Up
  footer
    p © 2025 Secure My Campus | 
      a(href="#") Privacy Policy
      |  | 
      a(href="#") Help Center